button {
  background-color: #4CAF50; /* Warna hijau */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  position: absolute; /* agar bisa dipindahkan */
}

button:hover {
  background-color: #3e8e41; /* Warna hijau yang lebih gelap saat di hover */
}

