.jumbotron {
  padding-top: 2rem;
  background-color: #a3d3f3;
  padding-bottom: 0%;
}

#project {
  background-color: #a3d3f3;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#contact ul.list-unstyled {
  text-align: left;
}
#contact h2,
#contact h3,
#contact ul.list-unstyled li {
  color: #efefef;
}
#about h2,
#about p {
  color: #efefef;
}
